@model _404ViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">404 Error.</h1>

@if (Model != null)
{
    <p>
        <strong>Status Code:</strong> <code>@Model.StatusCode</code>
    </p>
    <img class="card-img-top img-responsive " src="/images/notfound.png" alt="/images/notfound.png">
    <p>
        <strong>Nic jsem nenašel</strong>
    </p>
}
